---
layout: default
---

<div>

  {{ content }}

  <h2>Latest Posts</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        {%- unless post.custom-excerpt -%}
          {{ post.excerpt | markdownify | truncatewords: 40 }}
        {%- else -%}
          {%- assign excerptParts = post.excerpt | split: '<!--excerpt-start-->' -%}
          {{ excerptParts[1] | markdownify | truncatewords: 40 }}
        {%- endunless -%}

      </li>
    {% endfor %}
  </ul>

</div>

